//
//  Secrets.xcconfig
//  GrowIT
//
//  Created by 오현민 on 8/18/25.
//
// 참고 링크 : https://ggasoon2.tistory.com/18
// 꺼내서 사용 방법 예시 :  static var restApiKey: String { return Bundle.main.object(forInfoDictionaryKey: "REST_API_KEY") as? String ?? "" }

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Pods Release 설정 포함
#include "Pods/Target Support Files/Pods-GrowIT/Pods-GrowIT.release.xcconfig"

REST_API_KEY = ad38f7a54ae0b83d104d8fcb239aebea
KAKAO_URLSCHEMES = kakaoad38f7a54ae0b83d104d8fcb239aebea
